/*C:\Users\gau_m\OneDrive\Documentos\projetos_python\buslink_django\principal\static\css\style.css*/
body {
    font-family: Arial, sans-serif;
    background-color: #252A2F; /* Define a cor de fundo como preto */
    color: white; /* Define a cor do texto como branco (ou outra cor que preferir) */
}

.header {
    text-align: right;
    padding: 10px;
}

.config-button {
    /* Estilos para o botão de configuração */
}

.search-box input {
    background-color: #252A2F;
    color: white; /* Define a cor do texto para branco, para melhor contraste. */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adicione um arredondamento aos cantos */
    padding: 10px; /* Adicione algum espaço interno para melhor aparência */
    margin: 5px 0;
    width: 100%;
}


.favorites textarea {
    
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

.footer-buttons button {
    width: 33%;
    padding: 10px;
}

.btn-icon-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card {

    background-color: #252A2F; 
}