<!-- C:\Users\gau_m\OneDrive\Documentos\projetos_python\buslink_django\principal\templates\home.html -->
<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Home - BusLink</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <style>
       
    
        .footer-buttons {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #252A2F;
            border-top: none; /* Remova a borda superior */
            padding: 10px;
        }

        .footer-buttons button {
            margin-right: 10px; /* Espaçamento entre os botões. */
        }
    </style>

</head>
<body>
<div class="container">

    <div class="header">
         <a href="{% url 'redirecionar_para_configuracoes' %}">
            <img src="{% static 'icones/configi.png' %}" alt="Configurações" style="width: 25px; height: 25px;">
        </a>
    </div>

    <div class="search-box">
        <input type="text" placeholder="Local de Partida">
        <input type="text" placeholder="Destino">
    </div>



 {# Telas para favoritos #}   


    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <img src="{% static 'icones/favoritos_icon.png' %}" alt="Ícone Favoritos" class="btn-icon" style="width: 20px; height: 20px; margin-right: 10px; margin-top: -8px;">
                <p class="card-text" style="font-size: 18px; color: #333;">
                    <strong>Favoritos</strong><br>
                </p>
            </div>
        </div>
    </div>
    
       
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex align-items-center">
                
                <p class="card-text" style="font-size: 18px; color: #333;">
                    <strong>Paradas Solicitadas</strong><br>
                </p>
            </div>
        </div>
    </div>
    

    <div class="footer-buttons d-flex justify-content-between">
        <button class="btn btn-info">Destino</button>
        <button class="btn btn-info" onclick="window.location.href='{% url 'paradas' %}'">Paradas</button>
        <button class="btn btn-info" onclick="window.location.href='{% url 'linhas' %}'">Linhas</button>
    </div>
</div>

<!-- Opção de incluir o JavaScript do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
